#esconderlinks {
  font-size: 1em;
}
:root {
  --sidebar-bg-color: #2f855a;
  --sidebar-item-hover: #38a169;
  --sidebar-item-active: #276749;
}
.icone {
  color: #51c70d;
  text-decoration: none;
}
.sidebar {
  color: #1fccaf;
  background-color: #1fccaf;
  border: 2px solid #ffffff;
  float: left;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 100%;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}
.collapse-icon {
  left: 7%;
  top: 2%;
  position: absolute;
  color: rgba(255,255,255, 0.7);
  transition: 0.2s linear;
}
.rotate-180 {
  transform: rotate(180deg);
  transition: 0.2s linear;
}
.links {
  font-size: 1em;
  padding-left: 12px;
  text-decoration: none;
  color: #601fda;
  width: 100%;
  padding-top: 20px;
  display: flex;
  left: 5%;
}

.image{
  background-image: url('../../../assets/PSDS.png');
  background-size: 200px 200px;
  background-position: center;
  background-repeat: no-repeat;
}

#outer-icon{
width: 30px;
height: 30px;
background-color: rgb(27, 106, 209);
border-radius: 30%;
}

#notificacoes {
  font-size: 1em;
  padding-left: 12px;
  text-decoration: none;
  color: #601fda;
  width: 100%;
  padding-top: 20px;
  display: flex;
  left: 5%;
}