<div class="sidebar" [ngStyle]="{width: sidebarWidth}">
    <br><br><br><br><br>
    <span class="collapse-icon" [class.rotate-180]="collapsed" (click)="toggleSidebar()">
      <div id="outer-icon"><mat-icon>chevron_right</mat-icon></div>
    </span>

    <div id="esconderlinks" *ngIf="esconder()">
      <a routerLink="" class="links" id="HOME"><mat-icon>home</mat-icon>Home</a>
      <a routerLink="cadastro-paciente" class="links"><mat-icon>assignment_ind</mat-icon>Cadastro de Paciente</a>
      <a routerLink="cadastro-agendamento" class="links"><mat-icon>note_add</mat-icon>Cadastro de Agendamento</a>
      <a routerLink="listar-pacientes" class="links"><mat-icon>face</mat-icon>Lista de Pacientes</a>
      <a routerLink="listar-agendamentos" class="links"><mat-icon>vertical_split</mat-icon>Lista de Agendamentos</a>
      <a routerLink="notificacoes" class="links"><mat-icon>chat_bubble</mat-icon>Notificações</a>
    </div>
  </div>